# .ebextensions/01_packages.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'application:application'
    
packages:
  yum:
    # Outils de compilation classiques pour tout paquet C/binaire
    gcc-c++: []
    python3-devel: []
    
    # Dépendances courantes des paquets Python complexes
    libevent-devel: []
    libxml2-devel: []
    libxslt-devel: []
    libtiff-devel: []
    # PAQUET CORRIGÉ ICI
    libjpeg-turbo-devel: [] 
    # Fin de la correction
    zlib-devel: []
    libpq-devel: []
    # Assurez-vous d'avoir aussi 'openssl-devel' pour d'autres paquets comme cryptography
    openssl-devel: [] 

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
