option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.app:app
  
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

commands:
  01_set_python_version:
    command: |
      if ! amazon-linux-extras list | grep -q python3.11; then
        amazon-linux-extras enable python3.11
        yum clean metadata
      fi
      yum install -y python3.11 python3.11-pip python3.11-devel
