# .ebextensions/01_packages.config
option_settings:
  # NOUVEL ESPACE DE NOMS POUR LE CHEMIN WSGI
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'application:application' # MODIFIEZ CECI si votre app n'est pas 'application:application'

  # Laissez cet espace de noms vide si vous n'avez pas d'autres options ici
  aws:elasticbeanstalk:environment:
    # Retirez la ligne WSGIPath qui était ici

packages:
  yum:
    gcc-c++: []
    libevent-devel: []
    python3-devel: []
    # Ajoutez d'autres dépendances de compilation si nécessaire
    # libpq-devel: []
