# .ebextensions/01_packages.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'application:application'
    
packages:
  yum:
    # Outils de compilation classiques pour tout paquet C/binaire
    gcc-c++: []
    python3-devel: []
    
    # Dépendances courantes des paquets Python complexes
    libevent-devel: []
    libxml2-devel: []
    libxslt-devel: []
    libtiff-devel: []
    libjpeg-devel: []
    zlib-devel: []
    # Si vous utilisez PostgreSQL, CECI est CRUCIAL
    libpq-devel: []

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
